body{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin:0;
}
ul {
    list-style-type: none;
    padding: 0;
}
a{
    text-decoration: none;
    color: #E5E7EB;
}

.header,
.footer{
    padding: 0 200px 0 200px;
}
.header,
.main .top,
.footer{
    background-color: #1F2937;
}

.header strong{
    color: #F9FAF8;
    font-size: 24px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 500px;
}
.header ul{
    display: flex;
    gap: 24px;
}

.top,
.top-mid,
.bot-mid,
.bot{
    padding: 50px 200px 100px 200px;
}

/* First section after header */
.top{
    display: flex;
    justify-content: center;
    gap: 200px;
}
.top-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    gap: 8px;
}
.top h1{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
    margin:0px;
}
.top h4{
    font-size: 18px;
    color:#E5E7EB;
    margin:0px;
}
.top button{
    color:#E5E7EB;
    background-color: #3882F6;
    font-weight: 900;
    padding: 6px 24px;
    border-radius: 8px;
}

/* Second section after header */
.top-mid{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.top-mid h1{
    color:#1F2937;
    font-size: 36px;
}
.top-mid ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}
.top-mid ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-mid p{
    text-align: center;
    width: 200px;
    color:#1F2937;
}

.box{
    height: 200px;
    width:200px;
    border: 4px solid #3882F6;
    border-radius: 10px;
    margin:0;
}

/* Third section under header*/
.bot-mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
}
.bot-mid em{
    font-size: 36px;
    color:#1F2937;
    font-weight: 300;
    width: 1024px;
}

.bot-mid h4{
    color:#1F2937;
    width: 924px;
    text-align: end;
    margin: 0;
}

/* Fourth section under header */
.bot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px 450px;
    padding: 50px 50px;
    background-color:#3882F6;
    border-radius: 10px;
   
    
}
.bot-info{
    display: flex;
    flex-direction: column;

}
.bot-info h3,
.bot-info h5{
    margin: 0;
}

.bot-info h3{
    color:#F9FAF8;
}

.bot-info h5{
    color:#E5E7EB;
}

.bot button{
    color:#F9FAF8;
    background-color: #3882F6;
    font-weight: 900;
    padding: 6px 24px;
    border-radius: 8px;
    border-color: #F9FAF8;
}

/* Footer */
.footer p{
    text-align:center;
    color:#F9FAF8;
}